{% block content %}
	<div class="starter-template">
		<h1>Albums</h1>
		<div class="row">
			<div class="col-md-8">
				<p class="lead">Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
				<hr>
				<br>
				<div class="package package-1">
					<img src="holder.js/100%x300/text:Image">
					<h3>Option One</h3>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<ul>
						<li>Faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</li>
						<li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
						<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
						<li>Vestibulum id ligula porta felis euismod semper.</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<hr>
				<br>
				<div class="package package-2">
					<img src="holder.js/100%x300/text:Image">
					<h3>Option Two</h3>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<ul>
						<li>Faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</li>
						<li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
						<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
						<li>Vestibulum id ligula porta felis euismod semper.</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<hr>
				<br>
				<div class="package package-3">
					<img src="holder.js/100%x300/text:Image">
					<h3>Option Three</h3>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					<ul>
						<li>Faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</li>
						<li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
						<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
						<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
						<li>Vestibulum id ligula porta felis euismod semper.</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="widget">
					<a href="/albums" class="btn btn-lg btn-block btn-default">
						<br><br><p class="lead">View My Albums</p><br>
					</a>
				</div>
				<br>
				<div class="widget">
					<a href="/availibility" class="btn btn-lg btn-block btn-default">
						<br><br><p class="lead">Availibility</p><br>
					</a>
				</div>
				<br>
				<div class="widget">
					<a href="/links" class="btn btn-lg btn-block btn-default">
						<br><br><p class="lead">Helpful Links</p><br>
					</a>
				</div>
				<br>
				<div class="widget">
					<a href="/faq" class="btn btn-lg btn-block btn-default">
						<br><br><p class="lead">FAQ's</p><br>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}