{% block content %}
	<div class="starter-template">
		<div class="container text-center">

			<h1>Alana Meyer<br>Photography</h1>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p class="lead">Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod.</p>
					<br>
					<hr>
					<br><br><br>
				</div>
			</div>

		</div>
		<div class="container">
			<div class="mason-row">
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x200"></a>
					<h4> Post title 1</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			 	<div class="item">
					<a href="/single"><img src="holder.js/100%x520"></a>
					<h4> Post title 2</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x200"></a>
					<h4> Post title 3</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x520"></a>
					<h4> Post title 4</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>			    </div>
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x200"></a>
					<h4> Post title 5</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			 	<div class="item">
					<a href="/single"><img src="holder.js/100%x200"></a>
					<h4> Post title 6</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x200"></a>
					<h4> Post title 7</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x520"></a>
					<h4> Post title 8</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			    <div class="item">
					<a href="/single"><img src="holder.js/100%x200"></a>
					<h4> Post title 9</h4>
					<a href="single" class="text-link"><small>Read More <i class="fa fa-long-arrow-right"></i></small></a>
					<hr>
			    </div>
			</div>
		</div>
{% endblock %}