{% block content %}
	<div class="starter-template">
		<div class="row">
			<div class="col-md-12">
				<h1>Portfolio - Weddings</h1>
				<br>
				<div class="btn-group">
					<button type="button" class="btn btn-default active">Weddings</button>
					<button type="button" class="btn btn-default">Families</button>
					<button type="button" class="btn btn-default">Boudoir</button>
				</div>
				<br><br> 
			</div>
			<div class="col-md-8">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="holder.js/100%x420/text: Slideshow">
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>
			</div>
			<div class="col-md-4">
				<blockquote>
					<p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p><p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor.</p>
					<footer>Client Name | Venue, Date</footer>
				</blockquote>

				<hr>
				<a href="/pricing" class="btn btn-default btn-block">Pricing &amp; packages</a>
			</div>
		</div>

		</div>
	</div>
{% endblock %}