body {
  border: 10px solid @gray-light;
}

body > svg {
  display: none!important;
}

.svg-logo {
  height: 19px;
  fill: @gray;
}

.svg-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  fill:@gray;
}

.navbar-inverse {
	border: none;
	padding-top: 5px;
	border-top: 5px solid @gray-darker;
}

.divider::before, .divider::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.divider {
	position: relative;
}

.overlay-link {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: 10;
  .transition(.8s);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  opacity: 0;
  .transition(.8s);
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
  text-align: center;
  z-index: 11;
  span {
    border-bottom: 1px solid #fff;
  }
}

.ss-style-roundedsplit::before,
.ss-style-roundedsplit::after {
	top: -70px;
	left: 0;
	z-index: 10;
	width: 50%;
	height: 70px;
	background: #fff;
}

.ss-style-roundedsplit::before {
	border-radius: 0 80px 0 0;
}

.ss-style-roundedsplit::after {
	left: 50%;
	border-radius: 80px 0 0 0;
}


.header {
	.navbar-nav 
		> li {
			&.current-menu-item,
			&.current_page_item,
			&.current_page_ancestor{
	        	.nav-link {
		        	border-color: @gray-darker;
		        }
		    }
			a {
				display: inline-block;
				font-size: 16px;
		        position: relative;
		        padding-left: 25px;
		        padding-right: 25px;
		        .nav-link {
		        	padding-bottom: 5px;
		        	border-bottom: 1px solid transparent;
		        }
		        &:hover{
		        	.nav-link {
			        	border-color: @gray-darker;
			        }
		        }
			}
			&.social-nav {
				a {
					&:first-child {
						padding-left: 25px;
					}
					&:last-child {
						padding-right: 25px;
					}
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		li + li:before {
			content: "";
			border-right: 1px solid #e7e7e7;
		}
}

.imageContainer {
	position: relative;
	img{
		margin: auto;
	}
}



.featureImage {
	.metaContainer {
		position: absolute;
		bottom: 5%;
		left: 50%;
		z-index: 2000;
		right: 0;
	}
}

.titleDivider {
	background: #fff;
	height: 30px;
	margin: 20px 0;
	&:before,&:after {
		top:0;
		height: 30px;
		border-top:1px solid @gray-lighter;
	}
	&:before {
		border-right:1px solid @gray-lighter;
	}
	&:after {
		border-left:1px solid @gray-lighter;
	}
}


.postTitle {
	font-family: @font-family-serif;
	font-style: italic;
	font-size: 2.4em;
}

.singlePostNav {
	padding: 40px 0;
	border-top: 1px solid @gray-light;
}

.fullSizeImage {
	margin-bottom: 30px;
}

.readmore {
	font-family: @font-family-sans-serif;
	font-style: normal;
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	margin-top: 10px;
	color:@gray-dark;
	i {
		margin-left: 10px;
	}
	&:hover {
		color:@gray-darker;
		border-bottom: 1px solid @gray-darker;
		text-decoration: none;
	}
}

/* About Home */

.aboutSection {
	padding: 140px 0;
	background: #fdfdfd;
	color: #333;
	text-align: center;
	border-bottom: 2px solid @gray-light;
	color: @gray;
	font-family: @font-family-serif;	
	font-style: italic;
	font-size: 2em;


}

/* Blog Image Container */

.sectionTitle {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.postSection {
  padding: 100px 0;
  .titleDivider {
    margin-top:80px;
    margin-bottom:60px;
  }
}

.metaContainer {
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: right;
  font-family: @font-family-serif;
  color: @gray-dark;
  a {
  	color: @gray-dark; 
  	&:hover {
  		color: @gray-darker;
  	}
  }
  .svg-icon {
    width: 20px;
    height: 20px;
    fill: #cfcfcf;
    vertical-align: top;
  }
} 

.postContainer {
	margin: 30px 0;
  .postTitle {
    margin-bottom: 35px;
    color: @gray-darker;

  }
	.overlayLink {
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:100%;
		height: 100%;
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}
	.viewContainer {
		position: absolute;
		padding: 25px 0;
		bottom: 130px;
		line-height: 1.5;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		opacity: 0;
		-webkit-transition: opacity .35s,-webkit-transform .35s;
		transition: opacity 0.35s, transform 0.35s;
		text-align: center;
		width: 100%;
		background: rgba(0,0,0,0.3);
		p {
			text-transform: uppercase;
			color: #fff;
			font-size: @font-size-large;
			margin:0;
		}
	}
	&:hover {
		.viewContainer {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
}

/* Pages */

.pageContainer {
	margin: 35px 0;
	.pageTitle {
		text-align: center;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
	}
}

/* Testimonials */

.testimonialSection {
	margin: 35px 0;
	padding: 45px 0;
	border-top: 1px solid @gray-light;
	border-bottom: 1px solid @gray-light;
}

/* Quotes */

.quoteContainer {
	max-width: 65%;
	margin: auto;
	text-align: center;
	padding: 45px 0;
	blockquote {
		font-family: @font-family-serif;
		font-size: 30px;
		font-style: italic;
    	border-left:0;
	}
	cite {
		font-style: normal;
		font-family: @font-family-sans-serif;
		font-size: @font-size-small;
		text-transform: uppercase;
	}
}

/* Publications */

.publicationSection,.suppliersSection,.faqSection {
	padding: 60px 0;
	border-bottom: 1px solid @gray-light;
}

.publicationInfoSection {
	margin-bottom: 35px;
	h2 {
		text-align: center;
	}
	.publicationContent {
		text-align: center;
		font-size: @font-size-large;
	}
}

.publicationGrid {
	.titleContainer {
		text-align: center;
		font-family: @font-family-serif;
		h3 {
			font-size: @font-size-large;
			margin:10px 0 0;
		}
	}
}

/* FAQ */

.faqSection {
	.nav-tabs {
		border-bottom:none;
		margin-bottom: 35px;
		text-align: center;
		text-transform: uppercase;
		li.active,li {
			display: inline-block;
			float: none;
			> a {
				border: none;
				border-bottom: 1px solid transparent;
				color: @gray;
				&:hover,&:focus{
					background-color: transparent;
					border: none !important;
					border-bottom: 1px solid @gray !important;
				}
			}
		}
		li.active > a{
			border-bottom: 1px solid @gray;
		}
	}
	.faq-title {
		
		a {
			font-family: @font-family-serif;
			font-style: italic;

			color: @gray;
			text-decoration: underline;
			&:hover {
				color: #333;
				&:before {
					content: "-";
				}
			}
		}
	}
	.textContainer {
		text-align: center;
	}
}

/* Suppliers Section */

.suppliersInfoSection {
	margin-bottom: 35px;
	h2 {
		text-align: center;
	}
	.supplierContent {
		text-align: center;
		font-size: @font-size-large;
	}
}

.suppliersGrid .supplier {
  &:hover {
    .overlay-text {
      opacity: 1;
    }
    .overlay-link {
      opacity: 1;
    }
  }
  .titleContainer {
		text-align: center;
		font-family: @font-family-serif;
		h3 {
			font-size: @font-size-large;
			margin:10px 0 0;
		}
	}
}

/*Features */

.featuresection {
	margin-top: 110px;
	margin-bottom: 130px;
}


/* Buttons Social, Next, Previous */

.nav-buttons .link {
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.nav-buttons .link i {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.nav-buttons .link .share{
	display: block;
	margin: 0 auto;
	padding: 0;
	font-size: 2em;
}


.nav-buttons .link {
	margin: 0 5px;
	padding: 15px;
	width: 62px;
	height: 62px;
	border-radius: 40px;
	background: #fff;
	border: 1px solid @gray-lighter;
	-webkit-transition: width 0.3s, background-color 0.3s;
	transition: width 0.3s, background-color 0.3s;
}

.nav-shares {
	margin: 0 5px;
	padding: 15px;
	color: @gray-darker;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 4.45;
	h3 {

	}
	&:after {
		content: '';
		border-right: 1px solid @gray-lighter;
	}
}


.nav-buttons h3 {
	position: absolute;
	top: 0;
	margin: 0;
	color: @gray-darker;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 4.45;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.nav-buttons .icon-wrap {
	width: 32px;
}

.nav-buttons .link .icon-wrap{
	text-align: center;
	position: absolute;
	left: 15px;
}

.nav-roundslide a.prev .icon-wrap {
	left: 15px;
}

.nav-roundslide a.next .icon-wrap {
	right: 15px;
}

.nav-roundslide a.next .shape-largearrow {
	.rotate(180deg);
}

.nav-buttons .link h3 {
	right: 20px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.nav-roundslide a.prev h3 {
	right: 20px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.nav-roundslide a.next h3 {
	left: 20px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.nav-buttons .link:hover {
	width: 150px;
	background: #fff;
}

.nav-roundslide a:hover {
	width: 200px;
	background: #fff;
}

.nav-roundslide a {
	position: absolute;
}

.nav-roundslide a.next {
	right:0;
}
.nav-roundslide a.prev {
	left:0;
}

.nav-roundslide a.next .icon-wrap {
	right: 15px;
	left:auto;
}

.nav-share {

	a {
		border:none;
		width: 150px;
		background: #fff;
		.icon-wrap {
			text-align: left;
		}
		h3 {
			font-size: 1.2em;
			opacity: 1;
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
}


.nav-buttons .link:hover h3 {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}




/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
* v1.3.3
*/

.owl-theme .owl-controls{
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
  
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-pagination {
position: absolute;
bottom: 0px;
width: 100%;
z-index: 200;
}

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 5px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border:1px solid #fff;
  background: transparent;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #fff;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}

.owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.owl-next {
  right: 0;
  position: absolute;
  top: 50%;
  svg {
  	.rotate(180deg);
  }
}


.gform_wrapper{
  .gform_body{
    .gform_fields{
      .gfield{
        .gfield_label{
          color: @gray-darker;
          font-weight: normal;
        }
        input[type=text],
        textarea{
          border:2px solid @gray-lighter;
          padding: 10px;
          font-size: @font-size-base;
          color: @gray-darker;
        }
      }
    }
  }
  .gform_footer{
    input[type=submit]{
      .btn();
      .btn-default();
      text-transform: uppercase;
      border-width: 2px;
      .transition(0.3s);
    }
  }
}
.gform_confirmation_message{
  color: @brand-danger;
  font-size: @font-size-base;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid @brand-primary;
}
