<div id="footer" class="footer container">
	<hr>
	<div class="row">
		<div class="col-md-6">	
			<p><small>Copyright Alana Meyer Photography &copy; 2014</small></p>
		</div>

		<div class="col-md-6">
			<div class="pull-right">
				<p><small>Created by PPM</small></p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="investmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Package enquiry</h4>
			</div>
			<div class="modal-body">
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.</p>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Name:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="inputEmail3" placeholder="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Email:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="inputEmail3" placeholder="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Date:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="inputEmail3" placeholder="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Package:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="inputEmail3" placeholder="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Venue:</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="inputEmail3" placeholder="">
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Any questions?</label>
						<div class="col-sm-9">
							<textarea class="form-control" rows="5" id="inputEmail3" placeholder=""></textarea>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Send Enquiry</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->