<div class="post">
	<header>
		<a href="postsingle"><img src="holder.js/100%x380/text:Image"></a>
		<a href="postsingle"><h3>This is the title of the post</h3></a>
		<small>23 July 2014 | Weddings</small><br><br>
	</header>
	<content>
		<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.</p><br><br>
	</content>
	<footer>
		<a href="postsingle" class="btn btn-default pull-left">read more</a>
		<div class="post-sharing">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"> <span class="fa fa-facebook"></span></a></li>
				<li><a href="#"> <span class="fa fa-twitter"></span></a></li>
				<li><a href="#"> <span class="fa fa-pinterest"></span></a></li>
			</ul>	
		</div>
	</footer>
<div class="clearfix"></div>
</div>