<div class="sidebar-content">
	<div class="widget">
		<a href="#" class="btn btn-lg btn-block btn-default">
			<br><br><p class="lead">Weddings</p><br>
		</a>
	</div>
	<br>
	<div class="widget">
		<a href="#" class="btn btn-lg btn-block btn-default">
			<br><br><p class="lead">Families</p><br>
		</a>
	</div>
	<br>
	<div class="widget">
		<a href="#" class="btn btn-lg btn-block btn-default">
			<br><br><p class="lead">Boudoir</p><br>
		</a>
	</div>

	<br>
	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h4>Monthly Newsletter</h4>
				<p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</div>
			<form class="" role="search">
				<div class="form-group" style="margin: 0px;">
					<span class="col-xs-10">
						<input type="text" class="form-control" placeholder="Email Address">
					</span>
					<span class="col-xs-2">
						<button type="submit" class="btn btn-default"><i class="fa fa-envelope"></i></button>
					</span>

				<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>

	<br>
	<hr>
	<br>

	<div class="row">
		<div class="col-md-12">
			<form class="" role="search">
				<div class="form-group" style="margin: 0px;">
					<span class="col-xs-10">
						<input type="text" class="form-control" placeholder="Search">
					</span>
					<span class="col-xs-2">
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
					</span>

				<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
</div>