<div class="sidebar-content">

	<div class="row">

		<div class="col-md-4">
			<h4>Latest Wedding Posts</h4>
			<div class="row">
				<div class="col-md-12">
					<p><img src="holder.js/100%x140/text:Latest Post Featured Image"></p>
					<h5>Latest post title</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="#">Another Wedding Post Title</a></li>
						<li><a href="#">Another Wedding Post Title</a></li>
						<li><a href="#">Another Wedding Post Title</a></li>
					</ul>
				</div>
			</div>
			
			<a href="#" class="text-link">View All <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-md-4">
			<h4>Latest Lifestyle Posts</h4>
			<div class="row">
				<div class="col-md-12">
					<p><img src="holder.js/100%x140/text:Latest Post Featured Image"></p>
					<h5>Latest post title</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="#">Another Lifestyle Post Title</a></li>
						<li><a href="#">Another Lifestyle Post Title</a></li>
						<li><a href="#">Another Lifestyle Post Title</a></li>
					</ul>
				</div>
			</div>
			
			<a href="#" class="text-link">View All <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-md-4">
			<h4>Latest Personal Posts</h4>
			<div class="row">
				<div class="col-md-12">
					<p><img src="holder.js/100%x140/text:Latest Post Featured Image"></p>
					<h5>Latest post title</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="#">Another Personal Post Title</a></li>
						<li><a href="#">Another Personal Post Title</a></li>
						<li><a href="#">Another Personal Post Title</a></li>
					</ul>
				</div>
			</div>
			
			<a href="#" class="text-link">View All <i class="fa fa-long-arrow-right"></i></a>
		</div>
	</div>

</div>